In [ ]:
# Tuple
# - indexxed
# - ordered
# - duplicate and multiple value
# - imutable

In [11]:
#Tuple is always inside small bracket
a = (1,2,3,4)
b = ("apple", "ball", "cat", "dog",)
print (type (a))
print (type(b))
print(a)
print(b)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)
('apple', 'ball', 'cat', 'dog')

In [3]:
b = ("apple", "ball", "cat", "dog")
print(b[0])

apple

In [4]:
b = ("apple", "ball", "cat", "dog")
print(b[0:2]) #index

('apple', 'ball')

In [6]:
b = ("apple", "rat", "ball", "cat", "dog")
a = (1,2,3,4,5)
c = a + b
print (c)

(1, 2, 3, 4, 5, 'apple', 'rat', 'ball', 'cat', 'dog')

In [7]:
b = ("apple", "ball", "cat", "dog","dog")  #multiple value like dog
b

('apple', 'ball', 'cat', 'dog', 'dog')

In [10]:
a = (1,) #if youre assigning just one value then add one comma, or even if its multiple value add one comma at the end (MUST)
print(a)
print(type(a))

(1,)
<class 'tuple'>

In [ ]:
# in tuple we cannot perform tasks like list such as append (), insert (), extend ()
# no update
# no delete or remove or pop
# no sort 
# once tuple is created its there forever

In [13]:
a = ()
b = ("apple",)
c = ("ball",)
d = ("cat",)
a = a +b + c +d

a #concate is possible with comma in the end

('apple', 'ball', 'cat')

In [14]:
a = ()
n = int(input("enter n = "))
for i in range (n):
    x = int(input("enter x = "))
    a = a + (x,) #convert the value of x into tuple by adding (x,)
    
print (a)

enter n = 3
enter x = 1
enter x = 2
enter x = 3
(1, 2, 3)

In [17]:
b = ("apple", "ball", "cat", "dog")
a = list(b)
a

['apple', 'ball', 'cat', 'dog']

In [18]:
a = ['apple', 'ball', 'cat', 'dog',]
a = tuple (a)
a

('apple', 'ball', 'cat', 'dog')

In [23]:
b = ("apple", "ball", "cat", "dog")
a = list (b)
del a[0]
a = tuple(a)
a

('ball', 'cat', 'dog')

In [24]:
#tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9)) #search,sum,max, min, count, index herna  milcha tuple ma
a[0]

(1, 2, 3)

In [4]:
a = ()
n = int(input("enter n = "))
for i in range (n):
    name = input("enter a name = ")
    age = int (input ("enter age = "))
    add = input ("enter a address = ")
    a = a + ((name,age,add), )

    
print(a)

enter n = 2
enter a name = ram
enter age = 12
enter a address = dang
enter a name = sam
enter age = 34
enter a address = tihar
(('ram', 12, 'dang'), ('sam', 34, 'tihar'))

In [5]:
#sorted = first convert into list then only sort 
a = (234,333,4,5,60,2,100)
print(sorted(a)) 
print(a)

[2, 4, 5, 60, 100, 234, 333]
(234, 333, 4, 5, 60, 2, 100)

In [10]:
a = (('ram', 12, 'dang'), ('sam', 34, 'tihar'))
b = list(a)
b

[('ram', 12, 'dang'), ('sam', 34, 'tihar')]

In [11]:
b.append(("hari",13,"india"))
b

[('ram', 12, 'dang'), ('sam', 34, 'tihar'), ('hari', 13, 'india')]

In [12]:
b [0] = ("ramaeshwor", 67,"Bara")
b

[('ramaeshwor', 67, 'Bara'), ('sam', 34, 'tihar'), ('hari', 13, 'india')]

In [13]:
del b[0]
b

[('sam', 34, 'tihar'), ('hari', 13, 'india')]

In [26]:
a = [('ramaeshwor', 67, 'Bara'), ('sam', 34, 'tihar'), ('hari', 13, 'india')]
a[0]= "ramm" #cannot change inside the tuple coz a[0][0] is inside tuple
a

['ramm', ('sam', 34, 'tihar'), ('hari', 13, 'india')]

In [21]:
a = (['ramaeshwor', 67, 'Bara'], ['sam', 34, 'tihar'], ['hari', 13, 'india'])
a[0] #list
a

(['ramaeshwor', 67, 'Bara'], ['sam', 34, 'tihar'], ['hari', 13, 'india'])

In [24]:
a = (['ramaeshwor', 67, 'Bara'], ['sam', 34, 'tihar'], ['hari', 13, 'india'])
a[0].append(9803098187)
a[1].append(9800000000)
a

(['ramaeshwor', 67, 'Bara', 9803098187],
 ['sam', 34, 'tihar', 9800000000],
 ['hari', 13, 'india'])

In [27]:
a = (['ramaeshwor', 67, 'Bara'], ['sam', 34, 'tihar'], ['hari', 13, 'india'])
a[0][0]= "ram"
a

(['ram', 67, 'Bara'], ['sam', 34, 'tihar'], ['hari', 13, 'india'])