In [ ]:
# for loop
# while loop

In [ ]:
# For loop
# range () - helps to create sequence of number
# range (5) - sequence of no. 0,1,2,3,4

In [ ]:
# rannge (5) #0,1,2,3,4
# range (1,5) #1,2,3,4
# range (1,5,2) #0,2,4

In [2]:
for i in range (1,5) : #0,1,2,3,4 #for (i = 0; i <5; i++) #in will assign the value of i 
    print (i)

1
2
3
4

In [9]:
for i in range (1,5) : #0,1,2,3,4 #for (i = 0; i <5; i++) 
    print ("hello world")

hello world
hello world
hello world
hello world

In [10]:
for i in range (1,5):
    print (i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [11]:
for i in range (1,5,2) : #0,1,2,3,4 #for (i = 0; i <5; i++) 
    print (i, "hello world")

1 hello world
3 hello world

In [18]:
x = int ( input ( "enter x = "))
for i in range (1,11) : 
    print (x*i)

enter x = 3
3
6
9
12
15
18
21
24
27
30

In [19]:
x = int ( input ( "enter x = "))
for i in range (1,11) : 
    print (x, "x", i, "=", x*i)

enter x = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [21]:
for i in range (5):
    x = input ("enter x = ")

enter x = 22
enter x = 33
enter x = 44
enter x = 55
enter x = 66

In [1]:
s = 1
for i in range (5):
    x = int(input ("enter x = "))
    s = s + x
print (s)

enter x = 2
enter x = 3
enter x = 4
enter x = 5
enter x = 6
21

In [2]:
s = 1
for i in range (5):
    x = int(input ("enter x = "))
    s = s + x
    print (s)

enter x = 1
2
enter x = 2
4
enter x = 3
7
enter x = 4
11
enter x = 5
16

In [9]:
s = str() # instead of str () we can also use empty double semicolon ""
for i in range (5):
    x = input ( "enter x = ")
    s = s + x + "\n"
print (s)

enter x = a
enter x = b
enter x = c
enter x = d
enter x = e
a
b
c
d
e

In [23]:
s = str ()
n = int(input("enter n = "))
for i in range (n):
    name = input ("enter name = ")
    phone = input ("enter phone = ")
    s = s+name+ "--"+phone+"\n"
    
    print (s)

enter n = 2
enter name = aa
enter phone = 123
aa--123

enter name = bb
enter phone = 345
aa--123
bb--345

In [29]:
s = str ()
n = int(input("enter number of times = "))
for i in range (n):
    name = input ("enter name = ")
    phone = input ("enter phone = ")
    s = s + name + " -- " + phone + "\n"
    
print (s)

enter number of times = 2
enter name = aa
enter phone = 11
enter name = bb
enter phone = 22
aa -- 11
bb -- 22

In [33]:
#4! = 1*2*3*4
fac = 1
n = int (input ( "enter the value of n = "))
for i in range (1,n+1):
    fac = fac * i  #multiply garda assign fac = 1 orelse addition ma you can assign 0
    
    print (fac)

enter the value of n = 5
1
2
6
24
120

In [40]:
for i in range (1, 5+1):
    print (i)

1
2
3
4
5

In [4]:
for i in range (10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [7]:
for i in range (5,-1,-1):
    print(i)

5
4
3
2
1
0