In [2]:
#del, remove (), pop()
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am"]
del a [0]
print(a)

['Banana', 'cat', 'apple', 'Dog', 'fat', '3am']

In [3]:
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am"]
del a [0:3] #range wise ma 2 index samma jancha
print(a)

['apple', 'Dog', 'fat', '3am']

In [7]:
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am"]
a.index("apple")
del a [3]
print (a)

['zebra', 'Banana', 'cat', 'Dog', 'fat', '3am']

In [8]:
#remove
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am"]
a.remove("apple") #if theres duplicate it will only remove the first value, it wont remove the repeated 2nd value
print(a)

['zebra', 'Banana', 'cat', 'Dog', 'fat', '3am']

In [10]:
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am"]
a.pop() #emoty bracket will remove the value which is in the last
a

['zebra', 'Banana', 'cat', 'apple', 'Dog', 'fat']

In [12]:
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am"]
b = a.pop(3)
print (a)
print(b)

['zebra', 'Banana', 'cat', 'Dog', 'fat', '3am']
apple

In [13]:
b = []
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am" , "apple"]
for i in a:
    if i != "apple":
        b.append(i)
        
print(b)

['zebra', 'Banana', 'cat', 'Dog', 'fat', '3am']

In [19]:
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am" , "apple"]
for i in range(len(a)):
    if a [i] == "apple":
        print (i)

3
7

In [18]:
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am" , "apple"]
if "apple" in a:
    print("yes", a.count("apple"))
else:
    print("no")

yes 2

In [21]:
#list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]] 
print (a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [28]:
print(a[0] [2])
print(a [1] [1])
print(a [2] [2])

3
5
9

In [30]:
a = ["zebra", "Banana", "cat", "apple", "Dog", "fat", "3am" , "apple"]
a[3][2]

'p'

In [32]:
#WAP to create a list inside list
data = []
n = int(input("enter n = "))
for i in range (n):
    name = input("enter a name = ")
    age = int(input("enter age = "))
    add = input ("enter address = ")
    info = [name,age,add]
    data.append(info)
    
print(data)

enter n = 3
enter a name = ram
enter age = 23
enter address = ramechap
enter a name = sam
enter age = 26
enter address = ktm
enter a name = krish
enter age = 30
enter address = bkt
[['ram', 23, 'ramechap'], ['sam', 26, 'ktm'], ['krish', 30, 'bkt']]

In [36]:
data.append(["hari bahadur",45,"chitwan"]) #create and add new value
print (data)

[['ram', 23, 'ramechap'], ['sam', 26, 'ktm'], ['krish', 30, 'bkt'], ['hari bahadur', 45, 'chitwan'], ['hari bahadur', 45, 'chitwan'], ['hari bahadur', 45, 'chitwan']]

In [37]:
for i in data:
    print(i)

['ram', 23, 'ramechap']
['sam', 26, 'ktm']
['krish', 30, 'bkt']
['hari bahadur', 45, 'chitwan']
['hari bahadur', 45, 'chitwan']
['hari bahadur', 45, 'chitwan']

In [43]:
name = input("enter name = ").lower()
for i in data:
    if name in i[0].lower():
        print(i)

enter name = RAM
['ram', 23, 'ramechap']

In [45]:
a = [["ram",34,"ktm"], ["sam",56,"bkt"]]
a[0] = ["rama",33,"solukhumbu"]
a

[['rama', 33, 'solukhumbu'], ['sam', 56, 'bkt']]

In [47]:
a = [["ram",34,"ktm"], ["sam",56,"bkt"]]
a[0][0] = "rama"
a

[['rama', 34, 'ktm'], ['sam', 56, 'bkt']]

In [48]:
a = [["ram",34,"ktm"], ["sam",56,"bkt"]]
del a [0]
a

[['sam', 56, 'bkt']]

In [ ]:
#WAP to create a matrix with given row and column
# [1,2,3],
# [4,5,6],
# [7,8,9]]

In [9]:
a = []
n = 3
for i in range (n):
    d = int(input("enter a numbers = "))
    e = int (input ("enter a numbers = "))
    f = int (input ("enter a numbers = "))
    info = [d,e,f]
    a.append(info)
    
print (a)

enter a numbers = 1
enter a numbers = 2
enter a numbers = 3
enter a numbers = 4
enter a numbers = 5
enter a numbers = 6
enter a numbers = 7
enter a numbers = 8
enter a numbers = 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
matrix = []

r = int(input("enter rows = "))
c = int(input("enter columns = "))

for i in range (r):
    k = []
    for j in range (c):
        u = int(input("enter user value = "))
        k.append(u)
    matrix.append(k)
    
for i in range (r):
    for j in range (c):
        print (matrix[i][j], end = " ")
    print ()

enter rows = 2
enter columns = 3
enter user value = 1
enter user value = 2
enter user value = 3
enter user value = 4
enter user value = 5
enter user value = 6
1 2 3
4 5 6

In [3]:
matrix = []
r = int (input("enter r = "))
c = int (input("enter c = "))

for i in range (r):   #number of rows
    y = []
    for j in range (c):    #to insert another [] inside first []
        x = int(input("enter x = "))
        y.append(x)
    matrix.append(y)
        
matrix

enter r = 3
enter c = 3
enter x = 1
enter x = 2
enter x = 3
enter x = 4
enter x = 5
enter x = 6
enter x = 7
enter x = 8
enter x = 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

######