In [3]:
a = 0
while a<5:
    print (a,"Hello world")
    a=a+1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [7]:
a = 1
while a<=5:
    print (a,"Hello world")
    a=a+1

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [10]:
a = 5
while a>-5:
    print (a,"Hello world")
    a=a-1

5 Hello world
4 Hello world
3 Hello world
2 Hello world
1 Hello world
0 Hello world
-1 Hello world
-2 Hello world
-3 Hello world
-4 Hello world

In [14]:
a = 1
n = int(input("enter n = "))
while a<=10:
    print(n,"x", a, "=", n*a)
    a = a+1
    #using while loop

enter n = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [15]:
x = int ( input ( "enter x = "))
for i in range (1,11) : 
    print (x, "x", i, "=", x*i)
    #using for loop

enter x = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [2]:
s = 0
a = 0
n = int (input("enter n = "))
while a < n:
    x = int(input("enter x = "))
    s = s+x
    a = a+1
print(s)

enter n = 3
enter x = 6
enter x = 7890
enter x = 1
7897

In [3]:
s = str ()
n = int(input("enter n = "))
for i in range (n):
    name = input ("enter name = ")
    phone = input ("enter phone = ")
    s = s+name+ "--"+phone+"\n"
    
print (s)

enter n = 3
enter name = raj
enter phone = 1122
enter name = raju lal
enter phone = 2200
enter name = krishna das
enter phone = 00992
raj--1122
raju lal--2200
krishna das--00992

In [4]:
s = str ()
a = 0
n = int(input("enter n = "))
while a < n:
    name = input ("enter name = ")
    phone = input ("enter phone = ")
    s = s+name+ "--"+phone+"\n"
    a = a + 1
    
print (s)

enter n = 3
enter name = dhiraj
enter phone = 12345
enter name = suraj
enter phone = 3456
enter name = shyamu lal
enter phone = 229988
dhiraj--12345
suraj--3456
shyamu lal--229988

In [8]:
#5! =  5*4*3*2*1
fac = 1
a = 1
n = int (input ( "enter the value of n = "))
while a <= n:
    fac = fac * a  
    a = a + 1
    print (fac)

enter the value of n = 5
1
2
6
24
120