In [6]:
age = input ("what is your age ?")
print ("you are "+ age + " years old")

what is your age ?10
you are 10 years old

In [23]:
a = input("Enter your birth year: ")
age = 2022- int (a)
print (age )

Enter your birth year: 1996
26

In [25]:
a = input ("enter a number")
b = input ("enter another number")
c = int (a) + int(b)
print (c)

enter a number1
enter another number2
3

In [33]:
first = input ("first number: ")
second = input ("second number: ")
add = float (first) + float (second)
print ("total sum: " + str(add))

first number: 1
second number: 2.3
total sum: 3.3

In [24]:
a =int(input ("enter first number: "))
b = int(input ("enter second number: "))
sum = a+b
print (sum)

enter first number: 1
enter second number: 2
3

In [25]:
a = True #1
b = False #0
c = a + b #0r
print (c)

1

In [28]:
a = True
b = False
c = a * b #and
print (c)

0

In [32]:
a = input ("enter a value: ")
b = input ("enter another value: ")
c = float(a) + float (b)
print (c)

enter a value: 1.2
enter another value: 2.1
3.3

In [40]:
p = int (input ( "enter p = "))
t = float ( input ("enter t = "))
r = float ( input ( " enter r = "))
i = p*t*r/100
print ("the value of i = ", i)

enter p = 1
enter t = 2
 enter r = 3
the value of i =  0.06

In [47]:
a = 10
b = 20
print (a,b)
print ( "the value of b = ",b)

10 20
the value of b =  20

In [56]:
name = input ("enter a name: ")
age = int (input("enter age: "))
add = input ("enter add: ")

info = "hello world i am "+ name + " i am from " + add + " i am " + str (age) + " years old"
print (info)

enter a name: ram
enter age: 21
enter add: Ktm
hello world i am ram i am from Ktm i am 21 years old

In [53]:
print ("hello world i am", name, "i am from", add, "i am", age, "years old")

hello world i am ram i am from ktm i am 12 years old