In [ ]:
# file = open("<file_name>","<modes>")
# file.close()

In [ ]:
with open("<file_name>","<mode>")as file:
    <operations>

In [ ]:
# modes
# x -> "ceate"
# r -> "read"
# a -> "append"
# w -> "write"

In [3]:
try:
    file = open("data.txt","x")
    file.close()
except:
    print("The file is already there, pls check.")

The file is already there, pls check.

In [10]:
file = open('data.txt','r')
x = file.read()
print(x)
file.close()

1.Pramit KC
2.Pramit KC
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World
9.Hello World
10.Hello World

In [11]:
print(type(x))

<class 'str'>

In [7]:
x

'1.Hello World\n2.Hello World\n3.Hello World\n4.Hello World\n5.Hello World\n6.Hello World\n7.Hello World\n8.Hello World\n9.Hello World\n10.Hello World\n'

In [13]:
y=x.split("\n")

In [15]:
y [3]

'4.Hello World'

In [16]:
file = open('dataz.txt','w')
file.write("hello sansar")
file.close()

In [ ]:
# #assignment
# WAP to create a billing system using string
bill = ""
a = 0
n = int (input ("enter number = "))
for i in range (n):
    name = input ("enter name of item = ")
    quantity = int(input ("enter no. of item = "))
    price = int(input ("enter the price of item = "))
    total = quantity * price
    bill = f"{bill} {name} ----- {quantity} --- {price} --- {total} \n"
    a = a + total
print (bill)
print ("your total bill amount is = " + str(a))

In [19]:
# #assignment
# WAP to create a billing system using string
bill = ""
a = 0
n = int (input ("enter number = "))
for i in range (n):
    name = input ("enter name of item = ")
    quantity = int(input ("enter no. of item = "))
    price = int(input ("enter the price of item = "))
    total = quantity * price
    bill = f"{bill} {name} ----- {quantity} --- {price} --- {total} \n"
    a = a + total
print (bill)
print ("your total bill amount is = " + str(a))

file = open("dataz.txt","w")
file.write(bill)
file.write(str(a)) #write value should always be in string
file.close()

enter number = 2
enter name of item = watch
enter no. of item = 3
enter the price of item = 400
enter name of item = apple
enter no. of item = 2
enter the price of item = 20
 watch ----- 3 --- 400 --- 1200
 apple ----- 2 --- 20 --- 40

your total bill amount is = 1240

In [22]:
bill = ""
file = open("dataz.txt","a")
n = int (input ("enter number = "))
for i in range (n):
    name = input ("enter name of item = ")
    quantity = int(input ("enter no. of item = "))
    price = int(input ("enter the price of item = "))
    total = quantity * price
    bill = f"{bill} {name} ----- {quantity} --- {price} --- {total} \n"
    file.write(bill)
    
print (bill)
file.close()

enter number = 2
enter name of item = coke
enter no. of item = 2
enter the price of item = 100
enter name of item = sprite
enter no. of item = 5
enter the price of item = 100
 coke ----- 2 --- 100 --- 200
 sprite ----- 5 --- 100 --- 500

In [26]:
bill = ""
file = open("dataz.txt","a")
n = int (input ("enter number = "))
for i in range (n):
    name = input ("enter name of item = ")
    quantity = int(input ("enter no. of item = "))
    price = int(input ("enter the price of item = "))
    total = quantity * price
    info = f"{name},{quantity},{price},{total} \n"
    bill =bill+info
    
print(bill)

file = open("dataz.csv","w")
file.write("name,quantity,price, total \n")
file.write(bill)
file.close()

enter number = 2
enter name of item = coke
enter no. of item = 2
enter the price of item = 50
enter name of item = momo
enter no. of item = 4
enter the price of item = 100
coke,2,50,100
momo,4,100,400

In [30]:
import pandas as pd
df = pd.read_csv("dataz.csv")
df

   name  quantity  price   total
0  coke         2     50      100
1  momo         4    100      400