In [ ]:
# Basic python collection
# 1. List
# 2. Tuple
# 3. Dictionary
# 4. set

In [ ]:
# List
# -Indexed
# -Multiple and duplicate data
# -Ordered
# -Mutable

In [7]:
a = ["Apple", "Ball", "Cat", "Dog", "fat", "rat"] #list ma always big bracket, #multiple data 
b = [1,2,3,4,5,6,7,8,9,10]
print (a)
print (b)
print (type (a))
print (type (b))

['Apple', 'Ball', 'Cat', 'Dog', 'fat', 'rat']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
<class 'list'>

In [2]:
print (a [0])

Apple

In [3]:
print (a [0:4]) #supports range

['Apple', 'Ball', 'Cat', 'Dog']

In [7]:
a = ["Apple","Ball","Cat","Dog","fat","rat"]
print (a[0:6:2])

['Apple', 'Cat', 'fat']

In [5]:
a = ["Apple", "Ball", "Cat", "Dog", "fat", "apple"] #duplicate data
a

['Apple', 'Ball', 'Cat', 'Dog', 'fat', 'apple']

In [10]:
a = ["Apple", "Ball", "Cat", "Dog", "fat", "rat", "apple"] #concatenate between two lists
b = ["fish", "cow"]
c = a + b
print (c)

['Apple', 'Ball', 'Cat', 'Dog', 'fat', 'rat', 'apple', 'fish', 'cow']

In [2]:
a = ["Apple", "Ball", "Cat", "Dog", "fat", "rat", "apple"]
for i in a:
    print (i)

Apple
Ball
Cat
Dog
fat
rat
apple

In [ ]:
# append () insert () extend ()

In [20]:
    #append
a = []            # a = list () 
a.append ("apple")
a.append ("ball")

print (a)

['apple', 'ball']

In [24]:
data = [] #for list always use []
n = int(input ( "enter n = "))
for i in range (n):
    x  = int (input ("enter x = "))
    data.append (x)
    
print (data)

enter n = 3
enter x = 222
enter x = 333
enter x = 444
[222, 333, 444]

In [30]:
print ("the sum of the value = ", sum(data))
print ("the maximum nummber if the list = ", max(data))
print ("the maximum nummber if the list = ", min(data))
print ("the average nummber if the list = ", sum(data)/n)

the sum of the value =  999
the maximum nummber if the list =  444
the maximum nummber if the list =  222
the average nummber if the list =  333.0

In [31]:
data.sort() #ascending order
print (data)

[222, 333, 444]

In [32]:
data.reverse() #descending order
print(data)

[444, 333, 222]

In [44]:
#string
a = ["zebra", "Banana", "cat", "apple", "Dog", "xnxx", "fat", "3am"] #priotrize the number first and then capital letter 
a.sort()
a.append("ram") #appends the value at the end only

print(a)

['3am', 'Banana', 'Dog', 'apple', 'cat', 'fat', 'xnxx', 'zebra', 'ram']

In [45]:
    # insert
a = ["zebra", "Banana", "cat", "apple", "Dog", "xnxx", "fat", "3am"] 
a.insert (3, "cup")
print(a)

['zebra', 'Banana', 'cat', 'cup', 'apple', 'Dog', 'xnxx', 'fat', '3am']

In [52]:
    #extend

a = [1,2,3,4,5,6]
b = ["zebra", "Banana", "cat", "apple", "Dog", "xnxx", "fat", "3am"] 
a.extend (b)
print(b)

['zebra', 'Banana', 'cat', 'apple', 'Dog', 'xnxx', 'fat', '3am']

In [60]:
a = ["zebra", "Banana", "cat", "apple", "Dog", "xnxx", "fat", "3am"]  #value update in the list
a [0:2] = ["banono","zebro"]
print(a)

['banono', 'zebro', 'cat', 'apple', 'Dog', 'xnxx', 'fat', '3am']