In [17]:
#Dictionary inside dictionary
d = {1:{"Name":"ram", "age":56, "address":"ktm"}, 2:{"Name":"Sush", "age":20, "address":"putalisadak"}, 3:{"Name":"sanju", "age":27, "address":"bara"}}
d

{1: {'Name': 'ram', 'age': 56, 'address': 'ktm'},
 2: {'Name': 'Sush', 'age': 20, 'address': 'putalisadak'},
 3: {'Name': 'sanju', 'age': 27, 'address': 'bara'}}

In [19]:
d [1] ['phone'] = 12345
d [2] ['phone'] = 54321
d [3] ['phone'] = 67890
d

{1: {'Name': 'ram', 'age': 56, 'address': 'ktm', 'phone': 12345},
 2: {'Name': 'Sush', 'age': 20, 'address': 'putalisadak', 'phone': 54321},
 3: {'Name': 'sanju', 'age': 27, 'address': 'bara', 'phone': 67890}}

In [20]:
d = {1:{"Name":"ram", "age":56, "address":"ktm"}, 2:{"Name":"Sush", "age":20, "address":"putalisadak"}, 3:{"Name":"sanju", "age":27, "address":"bara"}}
del d [3]
d

{1: {'Name': 'ram', 'age': 56, 'address': 'ktm'},
 2: {'Name': 'Sush', 'age': 20, 'address': 'putalisadak'}}

In [24]:
d = {}
n = int (input("enter n = "))
for i in range (1,n+1): #n+1 makes the value run till n, orelse it will run till 1 in this case coz n = 2
    name = input ("enter name = ")
    age = int(input ("enter age = "))
    add = input ("enter address = ")
    phone = int(input("enter phone ko number = "))
    d[i] = {"name": name, "age":age, "address":add} # key is the value of i, (name age add ) is the value 
    
print (d)

enter n = 2
enter name = ram
enter age = 12
enter address = ramechap
enter phone ko number = 12333
enter name = shyam
enter age = 34
enter address = parsa
enter phone ko number = 3322111
{1: {'name': 'ram', 'age': 12, 'address': 'ramechap'}, 2: {'name': 'shyam', 'age': 34, 'address': 'parsa'}}

In [ ]:
# #WAP TO CREATE FOLLOWING TYPE AND PERFORM CRUD
# d = {"name":["ram", "hari", "sita"], "age":[22,43,45], "address": ["kathmandu", "bara", "lalitpur"]}

# a = [{'name': 'ram', 'age': 12, 'address': 'ramechap'}, {'name': 'shyam', 'age': 34, 'address': 'parsa'}, {'Name': 'sanju', 'age': 27, 'address': 'bara'}]

In [8]:
d = {}
n = int (input("enter n = "))
for i in range (1,n+1):
    name = input ("enter name = ")
    age = int(input ("enter age = "))
    add = input ("enter address = ")
    d[i] = [{"name": name, "age":age, "address":add}]
    
print (d)

enter n = 3
enter name = ram
enter age = 12
enter address = ramechap
enter name = shyam
enter age = 34
enter address = parsa
enter name = sanju
enter age = 27
enter address = bara
{1: [{'name': 'ram', 'age': 12, 'address': 'ramechap'}], 2: [{'name': 'shyam', 'age': 34, 'address': 'parsa'}], 3: [{'name': 'sanju', 'age': 27, 'address': 'bara'}]}

In [4]:
d = {}
na = []
n = int(input("enter number = "))
for i in range (n):
    name = input ("enter name = ")
    info = name
    na.append(info)
    
d["name"]= na

ag = []
for i in range (n):
    age = int(input ("enter age = "))
    info = age
    ag.append(info)
    
d['age']=ag

ad=[]
for i in range (n):
    address=input ("enter address = ")
    info = address
    ad.append(info)
    
d["address"]=ad

d

enter number = 3
enter name = ram
enter name = hari
enter name = sita
enter age = 21
enter age = 23
enter age = 34
enter address = ktm
enter address = bkt
enter address = lit

{'name': ['ram', 'hari', 'sita'],
 'age': [21, 23, 34],
 'address': ['ktm', 'bkt', 'lit']}

In [7]:
l = []
n = int(input("enter no = "))
for i in range (1,n+1):
    name = input("enter name = ")
    age = int(input("enter age = "))
    address = input ("enter address = ")
    d = {"name":name, "age":age, "address":address}
    l.append(d)
    
l

enter no = 3
enter name = ram
enter age = 12
enter address = parsa
enter name = sam
enter age = 23
enter address = bara
enter name = krish
enter age = 45
enter address = ktm

[{'name': 'ram', 'age': 12, 'address': 'parsa'},
 {'name': 'sam', 'age': 23, 'address': 'bara'},
 {'name': 'krish', 'age': 45, 'address': 'ktm'}]