In [ ]:
# string 
# - sequence of character
# - imutable data type

In [2]:
a = "Hello world"
b = 'hello world'
print (a)
print (type (a))

Hello world
<class 'str'>

In [3]:
a = " Hello"
b = " World"
c = a + b
print (c)

 Hello World

In [5]:
a = "Hello WOrld \n"
print (a*2)

Hello WOrld
Hello WOrld

In [2]:
a = input("Enter a = ")
b = input ("Enter b = ")
c = a + " " + b
print (c)

Enter a = ram
Enter b = sam
ram sam

In [13]:
a = "Python" #each and every character ko index huncha
a[0]

'P'

In [18]:
#string slicing
a = " Hello world i am python" 
print(a[0:10])

 Hello wor

In [22]:
#string slicing
a = "Hello world i am python" 
print(a[0:20:2]) #increment by 2,4,6,8,10

Hlowrdia y

In [27]:
a = "Python"
print (a[-1:-7:-1])

nohtyP

In [32]:
a = "hello world i love Python"
print (a[::-1])

nohtyP evol i dlrow olleh

In [29]:
a = "Python"
print (a[-1::-1]) #if length is too long, put it empty in the middle

nohtyP

In [46]:
# string formatting
a = "ramesh"
b = 26
c = "hello i am " + a + " i am " +str(b)
print (c)

hello i am ramesh i am 26

In [49]:
info = f"hello i am {a}. i am {b} years old"
info

'hello i am ramesh. i am 26 years old'

In [54]:
name = input("enter name = ")
age = int (input ("enter age = "))
add = input ("enter add = ")

info = f"hello world i am {name}. i am from {add}. i am {age} years old."
print(info)

enter name = ram
enter age = 24
enter add = Thamel
hello world i am ram. i am from Thamel. i am 24 years old.

In [ ]:
# #assignment
# WAP to create a billing system using string
# WAP to create a phone number entry system

In [56]:
a = "PyThon"
print(a.lower())

python

In [57]:
print(a)

PyThon

In [58]:
a = "Python"
a = a.lower()
print(a)

python

In [61]:
a = a.upper()
print (a)

PYTHON

In [70]:
a = "ram sam hari krishna sita gita ramesh ram"
name = input ("enter name = ")
if name in a:
    print("yes")
    print(a.count(name))

enter name = ram
yes
3

In [75]:
a = "ram sam hari krishna sita gita ramesh ram".upper()
print(a)
name = input ("enter name = ").upper()
if name in a:
    print("yes")
    print(a.count(name))

RAM SAM HARI KRISHNA SITA GITA RAMESH RAM
enter name = rAm
yes
3

In [77]:
a = "ram sam hari krishna sita gita ramesh ram"
a = a.replace('ram','ramu')
print(a)

ramu sam hari krishna sita gita ramuesh ramu

In [4]:
a = "ram sam hari krishna sita gita ramesh ram"
b = "rama"
c = b+a[3:]
print(c)

rama sam hari krishna sita gita ramesh ram