In [ ]:
# Set
# - No indexing
# - unordered
# - mutable
# - no duplicate data
# - multiple values

In [1]:
s = {"apple", "ball", "cat", "dog"}
print (type(s))

<class 'set'>

In [2]:
s = {}
type (s)

dict

In [6]:
s = {1}
type (s)

set

In [10]:
# no indexing because it is unordered
s = {"Apple", "Ball", "Cat", "Dog"}
print (s) #print lekhna sath the result is unordered

{'Apple', 'Ball', 'Dog', 'Cat'}

In [9]:
s

{'apple', 'ball', 'cat', 'dog'}

In [11]:
s = {12,3344,1,3300,677}
print (s)

{3344, 1, 3300, 677, 12}

In [12]:
s

{1, 12, 677, 3300, 3344}

In [13]:
s = {"apple", "ball", "cat", "dog", "apple"} #does'nt support duplicate value
print (s)

{'apple', 'ball', 'cat', 'dog'}

In [20]:
s = [11,22,33,11,22,33,44,33,11]
s = set(s) #if you convert into set, it automatically removes the duplicate value
s

{11, 22, 33, 44}

In [21]:
s = list (s)
s #set ma hune bitikai it changes the order type and again converted into list

[33, 11, 44, 22]

In [ ]:
# How to create set?

In [24]:
s = set ()
n = int (input ("enter n = "))
for i in range (n):
    x = input("enter x = ")
    s.add(x)
    
print(s)

enter n = 3
enter x = apple
enter x = ball
enter x = cat
{'apple', 'ball', 'cat'}

In [26]:
s = {'apple',"ball","cat"}
s.remove('apple')
s

{'ball', 'cat'}

In [ ]:
# how to relate it with mathematics set? 
# # it is used to compare the value.
# no concadination in set

In [27]:
a = {"rajan","krish","joe","love","pushpa"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji"}

c = a + b
c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [30]:
a = {"rajan","krish","joe","love","pushpa","jetha lal"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa"}
a.update(b)
print(a)

{'sodhi', 'pushpa', 'krish', 'iyer', 'joe', 'love', 'babita', 'rajan', 'jetha lal', 'babuji'}

In [34]:
a = {"rajan","krish","joe","love","pushpa","jetha lal"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa"}
a.union(b)

{'babita',
 'babuji',
 'iyer',
 'jetha lal',
 'joe',
 'krish',
 'love',
 'pushpa',
 'rajan',
 'sodhi'}

In [35]:
a = {"rajan","krish","joe","love","pushpa","jetha lal"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa"}
a.intersection(b)

{'jetha lal', 'pushpa'}

In [36]:
a = {"rajan","krish","joe","love","pushpa","jetha lal"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa"}
x = a.intersection(b)
len(x)

2

In [37]:
a.difference(b)

{'joe', 'krish', 'love', 'rajan'}

In [38]:
b.difference(a)

{'babita', 'babuji', 'iyer', 'sodhi'}

In [42]:
a.isdisjoint(b)

False

In [43]:
a = {1,2,3,4}
b = {1,2,3,4,5,6,7,8}
a.issubset(b)

True

In [44]:
a = {1,2,3,4}
b = {1,2,3,4,5,6,7,8}
a.issuperset(b)

False

In [52]:
u = {"rajan","krish","joe","love","pushpa","jetha lal","steve jobs", "rajan","krish","joe","love","pushpa","jetha lal","steve jobs", "mika lal", "ful kumari"}

apple = {"rajan","krish","joe","love","pushpa","jetha lal","steve jobs"}
ms = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa", "billu barber"}

un = apple.union(ms)
u.difference(un)

{'ful kumari', 'mika lal'}