In [17]:
#Dictionary inside dictionary
d = {1:{"Name":"ram", "age":56, "address":"ktm"}, 2:{"Name":"Sush", "age":20, "address":"putalisadak"}, 3:{"Name":"sanju", "age":27, "address":"bara"}}
d

{1: {'Name': 'ram', 'age': 56, 'address': 'ktm'},
 2: {'Name': 'Sush', 'age': 20, 'address': 'putalisadak'},
 3: {'Name': 'sanju', 'age': 27, 'address': 'bara'}}

In [19]:
d [1] ['phone'] = 12345
d [2] ['phone'] = 54321
d [3] ['phone'] = 67890
d

{1: {'Name': 'ram', 'age': 56, 'address': 'ktm', 'phone': 12345},
 2: {'Name': 'Sush', 'age': 20, 'address': 'putalisadak', 'phone': 54321},
 3: {'Name': 'sanju', 'age': 27, 'address': 'bara', 'phone': 67890}}

In [20]:
d = {1:{"Name":"ram", "age":56, "address":"ktm"}, 2:{"Name":"Sush", "age":20, "address":"putalisadak"}, 3:{"Name":"sanju", "age":27, "address":"bara"}}
del d [3]
d

{1: {'Name': 'ram', 'age': 56, 'address': 'ktm'},
 2: {'Name': 'Sush', 'age': 20, 'address': 'putalisadak'}}

In [24]:
d = {}
n = int (input("enter n = "))
for i in range (1,n+1): #n+1 makes the value run till n, orelse it will run till 1 in this case coz n = 2
    name = input ("enter name = ")
    age = int(input ("enter age = "))
    add = input ("enter address = ")
    phone = int(input("enter phone ko number = "))
    d[i] = {"name": name, "age":age, "address":add} # key is the value of i, (name age add ) is the value 
    
print (d)

enter n = 2
enter name = ram
enter age = 12
enter address = ramechap
enter phone ko number = 12333
enter name = shyam
enter age = 34
enter address = parsa
enter phone ko number = 3322111
{1: {'name': 'ram', 'age': 12, 'address': 'ramechap'}, 2: {'name': 'shyam', 'age': 34, 'address': 'parsa'}}

In [ ]:
# #WAP TO CREATE FOLLOWING TYPE AND PERFORM CRUD
# d = {"name":["ram", "hari", "sita"], "age":[22,43,45], "address": ["kathmandu", "bara", "lalitpur"]}

# a = [{'name': 'ram', 'age': 12, 'address': 'ramechap'}, {'name': 'shyam', 'age': 34, 'address': 'parsa'}, {'Name': 'sanju', 'age': 27, 'address': 'bara'}]