In [2]:
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "class8am"
)
db = database.cursor()

In [5]:
#Reading from database
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram Parsad', 70.0, 40.0, 85.0, 90.0, 60.0, 700.0, 80.0, 'A')
(2, 'Jibesh', 30.0, 40.0, 50.0, 10.0, 10.0, 149.0, 23.0, 'D')

In [7]:
#Reading from database
data = []
sql = "SELECT * FROM student"
db.execute(sql)
result = db.fetchall()
for x in result:
    data.append(x)
    
data

[(1, 'Ram Parsad', 70.0, 40.0, 85.0, 90.0, 60.0, 700.0, 80.0, 'A'),
 (2, 'Jibesh', 30.0, 40.0, 50.0, 10.0, 10.0, 149.0, 23.0, 'D')]

In [9]:
#Reading from database
data = []
sql = "SELECT sn,name,grade  FROM student"
db.execute(sql)
result = db.fetchall()
for x in result:
    data.append(x)
    
data

[(1, 'Ram Parsad', 'A'), (2, 'Jibesh', 'D')]

In [15]:
# insert data in database

sql = '''INSERT INTO student (Name, Physics, Chemistry, Maths, English, Nepali, Total)
VALUES ('Nabin',78,67,89,67,90,600)'''
db.execute(sql)
database.commit()

In [3]:
n = int(input("enter n = "))
for i in range (n):
    name = input ("enter user name = ")
    Physics = int(input ("enter Physics Marks = "))
    Chemistry = int(input ("enter Chemistry Marks = "))
    Maths = int(input ("enter Maths Marks = "))
    English = int(input ("enter English Marks = "))
    Nepali = int(input ("enter Nepali Marks = "))

    total = Physics + Chemistry + Maths + English + Nepali

    sql = f"INSERT INTO student (Name, Physics, Chemistry, Maths, English, Nepali, Total) VALUES ('{name}',{Physics},{Chemistry},{Maths},{English},{Nepali},{total})"
    db.execute(sql)
database.commit()

enter n = 2
enter user name = Ram Krishna
enter Physics Marks = 40
enter Chemistry Marks = 50
enter Maths Marks = 60
enter English Marks = 70
enter Nepali Marks = 80
enter user name = Hari Bdr
enter Physics Marks = 90
enter Chemistry Marks = 80
enter Maths Marks = 70
enter English Marks = 60
enter Nepali Marks = 50