In [ ]:
# Dictionary
# - indexxed
# - ordered
# - multiple and duplicate value
- No duplicate key
# - mutable

In [ ]:
# a = {<key>:<value>,<key>:<value>,..}

In [3]:
#mapping
a = {'A':"Apple", "B":"Ball", "C":"Cat"} #{index:key
print (a['A']) #no auto indexing like list and tuple so use key
print (a ["C"])

Apple
Cat

In [4]:
a = {'A':"Apple", "B":"Ball", "C":"Cat"} 
print(a)
print(type(a))

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}
<class 'dict'>

In [5]:
a = {'A':"Apple", "B":"Ball", "C":"Cat","a":"Apple"}
a

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'a': 'Apple'}

In [8]:
a = {'A':"Apple", "B":"Ball", "C":"Cat",'A': 'apple'} #value duplicate vayera no problem but key duplicate hunu hudaina, it replaces
a

{'A': 'apple', 'B': 'Ball', 'C': 'Cat'}

In [15]:
# a = dict() #for function
b = {}
b ["a"] = "Apple" #made dictionary using b, 'a' is the key
b ['d'] = "Ball"
b ["c"] = "cat"
b

{'a': 'Apple', 'd': 'Ball', 'c': 'cat'}

In [17]:
b = {}
b ["a"] = "Apple" #made dictionary using b, 'a' is the key
b ['d'] = "Ball"
b ["c"] = "cat"
b ['a'] = 'apple' #replace the value of a
b

{'a': 'apple', 'd': 'Ball', 'c': 'cat'}

In [18]:
info = {}
n = int(input("enter n = "))
for i in range (n):
    name = input ("enter name = ") 
    phone = input ("enter phone = ") #unique lai key, repeat huna sakne lai value banaune
    info [phone] = name #coz phone number is unique for diff individual
    
info

enter n = 2
enter name = ram
enter phone = 123
enter name = sam
enter phone = 456

{'123': 'ram', '456': 'sam'}

In [19]:
info = {}
n = int(input("enter n = "))
for i in range (n):
    name = input ("enter name = ") 
    phone = input ("enter phone = ") #unique lai key, repeat huna sakne lai value banaune
    info [name] = phone #coz phone number is unique for diff individual
    
info

enter n = 2
enter name = ram
enter phone = 111
enter name = samu
enter phone = 222

{'ram': '111', 'samu': '222'}

In [20]:
for i in info:
     print(i)

ram
samu

In [21]:
for i in info.values():
    print(i)

111
222

In [22]:
for i in info.items():
    print(i) #result is in tuple, so that user cannot change the value

('ram', '111')
('samu', '222')

In [26]:
l = []
for i in info.items():
    l. append(i)
    
print(l) #changing the value into list from tuplw

[('ram', '111'), ('samu', '222')]

In [27]:
dict(l)

{'ram': '111', 'samu': '222'}

In [28]:
a = (('ram', '111'), ('samu', '222'))
dict(l)

{'ram': '111', 'samu': '222'}

In [30]:
a = [['ram', '111'], ['samu', '222']]
dict(l)

{'ram': '111', 'samu': '222'}

In [32]:
a = {'ram': '111', 'samu': '222'}
b = {'hari': '9090'}
a.update(b)
a

{'ram': '111', 'samu': '222', 'hari': '9090'}

In [33]:
#del pop ()
a = {'ram': '111', 'samu': '222', 'hari': '9090'}
del a['ram']
a #delete garda key ra value both delete

{'samu': '222', 'hari': '9090'}

In [34]:
a = {1:1,2:2,3:3,4:4}
len(a)

4

In [35]:
a = {'ram': '111', 'samu': '222', 'hari': '9090'}
a.pop("samu")
a

{'ram': '111', 'hari': '9090'}

In [36]:
a = {'ram': '111', 'samu': '222', 'hari': '9090'}
b = a.pop ("samu")
print (a)
print (b)

{'ram': '111', 'hari': '9090'}
222

In [ ]:
#one to many
#list inside dictionary

In [38]:
a = {'ram': [1122, 3344], 'sam':[44555,6677],'hari':[11999,77666]}
a

{'ram': [1122, 3344], 'sam': [44555, 6677], 'hari': [11999, 77666]}

In [39]:
info = {}
n = int(input("enter n = "))
for i in range (n):
    name = input ("enter name = ") 
    ntc_phone = input ("enter phone = ") 
    ncell_phone = input ("enter phone = ")
    info [name] = [ntc_phone, ncell_phone] 
    
info

enter n = 2
enter name = sush
enter phone = 12345
enter phone = 98000
enter name = pramit
enter phone = 1111
enter phone = 887766

{'sush': ['12345', '98000'], 'pramit': ['1111', '887766']}

In [42]:
name = input ("enter name = ")
ntc_phone = input ("enter phone = ") 
ncell_phone = input ("enter phone = ")
info[name]= [ntc_phone, ncell_phone]
info

enter name = sangit
enter phone = 232323242
enter phone = 11777890

{'sush': ['12345', '98000'],
 'pramit': ['1111', '887766'],
 'sangit': ['232323242', '11777890']}

In [44]:
info ['pramit']

['1111', '887766']

In [45]:
info['pramit'].append(345678) #just add one another phone number
info

{'sush': ['12345', '98000'],
 'pramit': ['1111', '887766', 345678],
 'sangit': ['232323242', '11777890']}

In [48]:
info['pramit'][0]=98000000
info

{'sush': [98000000, '98000'],
 'pramit': [98000000, '887766', 345678],
 'sangit': ['232323242', '11777890']}