In [1]:
import mysql.connector
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "class8am"
)
db = database.cursor()

In [2]:
sql = 'UPDATE student SET name = "Rosey" Where sn = 3'
db.execute(sql)
database.commit()

In [5]:
name = input("enter name = ")
sn = int(input("enter sn = "))

sql = f'UPDATE student SET name = "{name}" Where sn = {sn}'
db.execute(sql)
database.commit()

enter name = Durlav
enter sn = 7

In [7]:
name = input("enter name = ")
sn = int(input("enter sn = "))
grade = input("enter grade = ")

sql = f'UPDATE student SET name = "{name}",grade = "{grade}" Where sn = {sn}'
db.execute(sql)
database.commit()

enter name = Trishna Budhathoki
enter sn = 6
enter grade = F

In [ ]:
# input from user
# 1 for insert
# 2 for select
# 3 for update
# 4 for delete

In [21]:
n = int(input ("enter n = "))
if n == 1:
    m = int(input("enter m number = "))
    for i in range (m):
        sn = int(input("enter sn = "))
        name = input("enter name = ")
        Physics = int(input ("enter Physics Marks = "))
        Chemistry = int(input ("enter Chemistry Marks = "))
        Maths = int(input ("enter Maths Marks = "))
        English = int(input ("enter English Marks = "))
        Nepali = int(input ("enter Nepali Marks = "))
        total = Physics + Chemistry + Maths + English + Nepali
        sql = f"INSERT INTO student (Name, Physics, Chemistry, Maths, English, Nepali, Total) VALUES ('{name}',{Physics},{Chemistry},{Maths},{English},{Nepali},{total})"
        db.execute(sql)
    database.commit()
    print(db.rowcount,"values inserted")

elif n == 2:
    db.execute("select * from student")
    result = db.fetchall()
    for x in result:
        print(x)
        
elif n == 3:
    name = input("enter name = ")
    sn = int(input("enter sn = "))
    grade = input("enter grade = ")

    sql = f'UPDATE student SET name = "{name}",grade = "{grade}" Where sn = {sn}'
    db.execute(sql)
    database.commit()

elif n == 4:
    name = input("enter name = ")
    sql = f"delete from student  where name = '{name}'"
    db.execute(sql)
    database.commit()
        
        
else:
    print("invalid number")

enter n = 4
enter name = pritha